.Text{
    color:black;
    font-size:40px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
    
 .Head{
    height: 70px;
    background: linear-gradient(45deg, #a7e5f8, #3936cc);
    
    }
    .About{
       display:inline-block;
padding:5px;

}
.About:hover{
      color:white;
}
.Blog:hover{
   color:white;
}
    
    









   